.{
    margin: 0;
    padding: 0;
    
}
body{
    font-family: sans-serif;
}
#nav-bar
{
    position: sticky;
    top: 0;
    z-index: 10;
    
}
.navbar
{
    background-image: linear-gradient(to right, #a517ba,#5f1782);
    padding: 0!important;
    
}
.navbar-brand img
{
    height: 90px;
    padding-left: 20px;
    margin-top: 15px;
    
}
.navbar-nav li a
{
    color: #fff !important;
    font-weight: 600;
    float: right;
    text-align: left;
}
.navbar-nav li {
    padding: 0 10px;
}
.fa-bars{
    color: #fff;
    font-size: 30px !important;
}
.navbar-toggler
{
    outline: none !important;
}
/*------------avtar*/
.avatar {
  vertical-align: middle;
  width: 80px;
  height: 80px;
  border-radius: 50%;
    
}

/*--footer---*/
#aa-footer {
  background-color: #444;
  display: inline;
  float: left;
  padding: 30px 0;
  width: 100%;
}
#aa-footer .aa-footer-area {
  display: inline;
  float: left;
  width: 100%;
}
#aa-footer .aa-footer-area .aa-footer-left {
  display: inline;
  float: left;
  width: 100%;
}
#aa-footer .aa-footer-area .aa-footer-left p {
  color: #fff;
  margin-bottom: 0;
  padding-top: 5px;
}
#aa-footer .aa-footer-area .aa-footer-left p a {
  color: #fff;
}
#aa-footer .aa-footer-area .aa-footer-middle {
  display: inline;
  float: left;
  width: 100%;
  text-align: right;
}
#aa-footer .aa-footer-area .aa-footer-middle a {
  border: 1px solid #f8f8f8;
  color: #f8f8f8;
  display: inline-block;
  margin: 0 5px;
  padding: 5px;
  text-align: center;
  width: 40px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
#aa-footer .aa-footer-area .aa-footer-right {
  display: inline;
  float: left;
  width: 100%;
  text-align: right;
}
#aa-footer .aa-footer-area .aa-footer-right a {
  color: #fff;
  display: inline-block;
  padding: 5px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
/*----account-------*/
#aa-contact {
  display: inline;
  float: left;
  padding: 50px 0 100px;
  width: 100%;
}
#aa-contact .aa-contact-area {
  display: inline;
  float: left;
  width: 100%;
}
#aa-contact .aa-contact-area .aa-contact-top {
  display: inline;
  float: left;
  width: 100%;
}

#aa-contact .aa-contact-area .aa-contact-top .aa-contact-top-right {
  background-color: Gray;
  display: inline;
  float: left;
  height: 550px;
  padding: 50px 30px;
  width: 100%;
}
#aa-contact .aa-contact-area .aa-contact-top .aa-contact-top-right h2 {
  color: #fff;
  margin-bottom: 20px;
}
#aa-contact .aa-contact-area .aa-contact-top .aa-contact-top-right p {
  color: #fff;
  line-height: 25px;
}
#aa-contact .aa-contact-area .aa-contact-top .aa-contact-top-right .contact-info-list {
  margin-top: 30px;
}
#aa-contact .aa-contact-area .aa-contact-top .aa-contact-top-right .contact-info-list li {
  color: #fff;
  font-size: 14px;
  margin-bottom: 20px;
}
#aa-contact .aa-contact-area .aa-contact-top .aa-contact-top-right .contact-info-list li i {
  border: 1px solid #ccc;
  margin-right: 10px;
  padding: 5px;
  text-align: center;
  width: 35px;
}
#aa-contact .aa-contact-area .aa-contact-bottom {
  display: inline;
  float: left;
  width: 100%;
  margin-top: 50px;
}
#aa-contact .aa-contact-area .aa-contact-bottom .required {
  color: red;
}
#aa-contact .aa-contact-area .aa-contact-bottom .aa-title p {
  font-size: 16px;
}
#aa-contact .aa-contact-area .aa-contact-bottom .aa-contact-form {
  display: inline;
  float: left;
  margin-top: 20px;
  width: 100%;
}
#aa-contact .aa-contact-area .aa-contact-bottom .aa-contact-form .contactform {
  display: block;
  width: 60%;
  margin: 0 auto;
}
#aa-contact .aa-contact-area .aa-contact-bottom .aa-contact-form .reply-title {
  font-size: 25px;
  margin-top: 0;
}
#aa-contact .aa-contact-area .aa-contact-bottom .aa-contact-form label {
  display: block;
}
#aa-contact .aa-contact-area .aa-contact-bottom .aa-contact-form input[type="text"],
#aa-contact .aa-contact-area .aa-contact-bottom .aa-contact-form input[type="email"],
#aa-contact .aa-contact-area .aa-contact-bottom .aa-contact-form input[type="url"] {
  border: none;
  border-bottom: 2px solid #ccc;
  color: #555;
  margin-bottom: 10px;
  height: 35px;
  padding: 5px;
  width: 100%;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
#aa-contact .aa-contact-area .aa-contact-bottom .aa-contact-form textarea {
  border: none;
  border-bottom: 2px solid #ccc;
  color: #555;
  margin-bottom: 5px;
  padding: 10px;
  height: 100px;
  width: 100%;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
#aa-contact .aa-contact-area .aa-contact-bottom .aa-contact-form .form-submit input {
  background-color: transparent;
  color: #555;
  border: 2px solid #ccc;
  font-size: 16px;
  font-weight: 400;
  margin-top: 10px;
  padding: 6px 12px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}